jvy-deloitte-exam/jy-deloitte-exam-exp-api/src/main/mule/jy-deloitte-exam-exp-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="jy-deloitte-exam-exp-api-config" api="jy-deloitte-exam-exp-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="jy-deloitte-exam-exp-api-main">
        <http:listener config-ref="jy-deloitte-exam-exp-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="Set logCorrId Variable" doc:id="acb404d3-8c8c-46f3-a293-5a583375873a">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="logCorrId"><![CDATA[%dw 2.0
output application/java
---
if(attributes.headers.'correlation-id' != null) attributes.headers.'correlation-id' else correlationId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="jy-deloitte-exam-exp-api-impl:\validate-auth-header" doc:id="c6c8290b-ba09-4291-bcd2-8ae3f92d2e7a" name="jy-deloitte-exam-exp-api-impl:\validate-auth-header" />
        <apikit:router config-ref="jy-deloitte-exam-exp-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="jy-deloitte-exam-exp-api-console">
        <http:listener config-ref="jy-deloitte-exam-exp-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="jy-deloitte-exam-exp-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\v1\users:jy-deloitte-exam-exp-api-config">
        <flow-ref doc:name="jy-deloitte-exam-exp-api-impl:\get-users-main-orchestration" doc:id="227c6395-89b3-4271-a63e-b077d2c64def" name="jy-deloitte-exam-exp-api-impl:\get-users-main-orchestration" />
    </flow>
    <flow name="get:\v1\users\(username):jy-deloitte-exam-exp-api-config">
        <flow-ref doc:name="jy-deloitte-exam-exp-api-impl:\get-user-by-username-main-orchestration" doc:id="655422f1-1510-42c8-8629-0504a3afb49a" name="jy-deloitte-exam-exp-api-impl:\get-user-by-username-main-orchestration" />
    </flow>
    <flow name="post:\v1\users\user:application\json:jy-deloitte-exam-exp-api-config">
        <flow-ref doc:name="jy-deloitte-exam-exp-api-impl:\post-user-main-orchestration" doc:id="20af70c4-2240-4d8b-9b40-7c1f3de01a77" name="jy-deloitte-exam-exp-api-impl:\post-user-main-orchestration" />
    </flow>
    <flow name="post:\v1\users:application\json:jy-deloitte-exam-exp-api-config">
        <flow-ref doc:name="jy-deloitte-exam-exp-api-impl:\post-users-main-orchestration" doc:id="de32b8ca-97a7-4c68-8acd-1340668680ae" name="jy-deloitte-exam-exp-api-impl:\post-users-main-orchestration" />
    </flow>
    <flow name="patch:\v1\users\(username)\activate:jy-deloitte-exam-exp-api-config">
        <flow-ref doc:name="jy-deloitte-exam-exp-api-impl:\activate-user-main-orchestration" doc:id="79b1eb2e-0617-4b98-bb50-ff3d2add326a" name="jy-deloitte-exam-exp-api-impl:\activate-user-main-orchestration"/>
    </flow>
    <flow name="patch:\v1\users\(username)\deactivate:jy-deloitte-exam-exp-api-config">
		<flow-ref doc:name="jy-deloitte-exam-exp-api-impl:\deactivate-user-main-orchestration" doc:id="b4504abf-f30e-46b0-88af-fefe2bf3a32e" name="jy-deloitte-exam-exp-api-impl:\deactivate-user-main-orchestration"/>
    </flow>
</mule>
