jvy-deloitte-exam/jy-deloitte-exam-proc-api/src/main/mule/jy-deloitte-exam-proc-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="jy-deloitte-exam-proc-api-config" api="jy-deloitte-exam-proc-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="jy-deloitte-exam-proc-api-main">
        <http:listener config-ref="jy-deloitte-exam-proc-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
		<ee:transform doc:name="Set logCorrId Variable" doc:id="349d5eb9-0cfc-46bc-8c58-a601707bb73a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="logCorrId" ><![CDATA[%dw 2.0
output application/java
---
if(attributes.headers.'correlation-id' != null) attributes.headers.'correlation-id' else correlationId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="jy-deloitte-exam-proc-api-impl:\validate-auth-header" doc:id="12a25c76-bcda-49fd-b23d-6154aa125398" name="jy-deloitte-exam-proc-api-impl:\validate-auth-header"/>
		<apikit:router config-ref="jy-deloitte-exam-proc-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="jy-deloitte-exam-proc-api-console">
        <http:listener config-ref="jy-deloitte-exam-proc-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="jy-deloitte-exam-proc-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="patch:\v1\users\(username):application\json:jy-deloitte-exam-proc-api-config">
        <flow-ref doc:name="jy-deloitte-exam-proc-api-impl:\patch-user-by-username-main-orchestration" doc:id="ef3c09b1-957f-404b-b332-3a509a94c38a" name="jy-deloitte-exam-proc-api-impl:\patch-user-by-username-main-orchestration"/>
    </flow>
    <flow name="get:\v1\users:jy-deloitte-exam-proc-api-config">
		<flow-ref doc:name="jy-deloitte-exam-proc-api-impl:\get-users-main-orchestration" doc:id="42a0da63-8ead-44f2-9853-7d03fb9f3f67" name="jy-deloitte-exam-proc-api-impl:\get-users-main-orchestration"/>
    </flow>
    <flow name="get:\v1\users\(username):jy-deloitte-exam-proc-api-config">
        <flow-ref doc:name="jy-deloitte-exam-proc-api-impl:\get-user-by-username-main-orchestration" doc:id="0bc67bb9-2707-4260-b80d-14d4c8836e6c" name="jy-deloitte-exam-proc-api-impl:\get-user-by-username-main-orchestration"/>
    </flow>
    <flow name="post:\v1\users\user:application\json:jy-deloitte-exam-proc-api-config">
        <flow-ref doc:name="jy-deloitte-exam-proc-api-impl:\post-user-main-orchestration" doc:id="f2da9b4f-963f-4f05-ae57-f3c1c244ea7e" name="jy-deloitte-exam-proc-api-impl:\post-user-main-orchestration"/>
    </flow>
    <flow name="post:\v1\users:application\json:jy-deloitte-exam-proc-api-config">
        <flow-ref doc:name="jy-deloitte-exam-proc-api-impl:\post-users-main-orchestration" doc:id="07e76478-a10e-4ce9-ac2f-3c0be739bdfe" name="jy-deloitte-exam-proc-api-impl:\post-users-main-orchestration"/>
    </flow>
</mule>
